.about {
  background-color: var(--backgroundColorAbout);
  padding-bottom: 50px;
  width: 100%;
  cursor: url('./../images/cursor.png'), auto;
  text-shadow: var(--textShadow);
  @media screen and (min-width: 768px) {
    padding-bottom: 80px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 60px;
    height: 810px;
  }
}

.about__container {
  height: 100%;

  position: relative;
}

.about__tittle {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  & p {
    font-family: var(--primaryFontFamily);
    font-style: normal;
    font-weight: 700;
    line-height: calc(22 / 18);
    text-align: center;
    text-transform: uppercase;
    color: #fcfcfc;

    padding-top: 61px;
    margin-bottom: 12px;
    @media screen and (min-width: 1200px) {
      font-family: var(--primaryFontFamily);
      font-style: normal;
      font-weight: 800;
      font-size: 30px;
      line-height: 37px;

      text-align: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;
    }
  }

  & h2 {
    font-family: var(--secondaryFontFamily);
    font-style: normal;
    font-weight: 400;

    line-height: calc(38 / 30);
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 32px;
    color: #fcfcfc;
    @media screen and (max-width: 768px) {
      // word-spacing: 200px;
    }
    @media screen and (min-width: 1200px) {
      font-family: var(--secondaryFontFamily);
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 45px;
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;

      margin-bottom: 92px;
    }
  }
}

.about__circle {
  position: relative;
  width: 279px;
  height: 278px;
  border-radius: 50%;
  background: var(--productsGradientCoffee);
  box-shadow: var(--boxShadow);

  @media screen and (min-width: 768px) {
    width: 330px;
    height: 330px;
    float: left;

    width: 33, 3%;
  }
  @media screen and (min-width: 1200px) {
    width: 490px;
    height: 490px;
  }
}

.about__picture {
  & img {
    border-radius: 50%;
    position: absolute;
    top: 14px;
    @media screen and (min-width: 768px) {
      display: inline-block;
      top: 26px;
    }
  }
}

.about__discription {
  margin-top: 40px;
  width: 220px;
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: 768px) {
    display: inline-block;
    margin-top: 50px;
    margin-left: 38px;
    width: 336px;
  }
  @media screen and (min-width: 1200px) {
    width: 463px;
    margin-left: 109px;
    height: 257px;
    margin-top: 78px;
  }

  .about__discription--p1 {
    font-family: var(--primaryFontFamily);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 176%;

    text-align: center;
    letter-spacing: 0.04em;

    color: #fcfcfc;
    @media screen and (min-width: 768px) {
      text-align: justify;
      width: 336px;
    }

    @media screen and (min-width: 1200px) {
      width: 463px;
      text-align: justify;
      font-size: 15px;
    }
  }

  .about__discription--p2 {
    font-family: var(--primaryFontFamily);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 162%;

    text-align: center;

    color: var(--textColorMainAlt);

    @media screen and (min-width: 768px) {
      text-align: justify;
      width: 336px;
      margin-top: 10px;
    }
    @media screen and (min-width: 1200px) {
      width: 463px;
      text-align: justify;
      font-size: 14px;
    }
  }
  .about__discription--p3 {
    display: none;

    font-family: var(--primaryFontFamily);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 194%;
    letter-spacing: 0.04em;

    color: var(--textColorMainAlt);

    @media screen and (min-width: 768px) {
      display: inline-block;
      width: 336px;
      text-align: justify;
      margin-top: 10px;
    }
    @media screen and (min-width: 1200px) {
      width: 463px;
      text-align: justify;
      font-size: 14px;
    }
  }
}

.about__button {
  background: var(--secondaryColor);
  border-radius: 10px;
  width: 164px;
  height: 42px;
  border: none;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;

  font-family: var(--secondaryColor);
  font-style: normal;
  font-weight: 600;

  line-height: calc(18 / 14);
  justify-content: center;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  transition: all var(--transition);
  color: var(--blackColor);
  &:hover {
    transform: scale(1.1);
    cursor: url('./../images/yellow-cursor.png'), auto;
    background-color: var(--hoverIconFill);

    transition: all var(--transition);
  }

  &:focus {
    background-color: var(--hoverIconFill);
    color: var(--textColorMainAlt);
    fill: var(--textColorMainAlt);
  }

  @media screen and (min-width: 768px) {
    margin-top: 32px;
    margin-left: 0;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 54px;
    margin-left: 0;
  }
}

.about__button--icon {
  width: 12px;
  height: 12px;
  margin-left: 8px;
}
