// .slider {

			
// }

.slider {
	padding-bottom: 393px;
	background-image: url(./../images/backgroud-mobile.jpg);
	background-position: center;
	background-size: contain;

	@media screen and (min-width: 768px) {
					background-image: url(./../images/background-tablet.jpg);

			}

			@media screen and (min-width: 1200px) {
					background-image: url(./../images/backgroud-desktop.jpg);
}
}

.rev_slider {
	margin: 0 auto;
}

.photo {
	display: block;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	margin: 0 auto 32px;
}

.slide_item {
	@include mobile {
		width: 285px;	
	}
}

.wrapper {
	display: flex;
	align-items: center;
	width: 280px;
	height: 256px;
	padding: 35px 39px;
	margin: 0 auto;
	background-color: #84A178;
	border-radius: 10px;
	margin-bottom: 32px;

	@include tablet {
		width: 705px;
		height: 138px;
		padding: 28px 80px 29px 80px;
		border-radius: 24px;
	}

	@include desktop {
		width: 968px;
		padding: 43px 109px;
	}

	.text {
		font-weight: 400;
		font-size: 12px;
		line-height: 2.583;
		letter-spacing: 0.06em;

		text-align: center;
		color: var(--textColorMainAlt);

		@include tablet {
			font-weight: 500;
			font-size: 14px;
			line-height: 1.857;
			letter-spacing: 0.04em;
		}

		@include desktop {
			font-size: 16px;
			line-height: 1.875;
		}
	}
}

.name {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.85;
	text-align: center;
	color: var(--textColorMain);

	@include tablet {
		font-size: 16px;
		line-height: 1.875;
	}
}

.rev_slider .slick-dots {
	list-style: none;
	padding: 0;
	margin: 0;

	position: absolute;
	top: 100%;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);

	li {
		display: inline-block;
		margin: 0;
		margin-top: 12px;

		@include tablet {
			margin-top: 28px;
		}
	}

	li:not(:last-child) {
		margin-right: 18px;
	}

	button {
		margin: 0;
		padding: 0;
		border: none;
		background-color: #D9D9D9;
		cursor: url('../images/yellow-cursor.png'), auto;

		border-radius: 50%;
		width: 12px;
		height: 12px;
		font-size: 0;

		&:hover, 
		&:focus {
			width: 15px;
			height: 15px;
		}
	}

	.slick-active {
		button {
			background-color: #84A178;
		}
	}
}