.gallery {
    width: 100%;
    background-color: #84A178; 
    background: linear-gradient(180deg, rgba(132, 161, 120, 1) 30px, rgba(132, 161, 120, 0) 30px);
}
.gallery__item {
    margin-top: 0;
    margin-bottom: 80px;
    text-align: center;
    .img {
        max-width: 280px;}
    }
