.one {
    font-family: Montserrat, sans-serif;
    font-size: 44px;
    font-weight: 700;
    text-align: center;
}

.two {
    font-family: Seymour One, sans-serif;
    font-size: 34px;
    font-weight: 900;
    color: var(--secondaryColor);
    text-align: center;
}