.header-container,
.hero-container {
  width: 320px;
  height: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  @include tablet {
    width: 768px;
  }
  @include desktop {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
//__________________HEADER______________________________
.header {
  width: 100%;
  padding-top: 12px;

  background-color: var(--headerHeroBackground);

  @include tablet {
    padding-top: 20px;
  }

  @include desktop {
    padding-top: 8px;
  }
}

.header-logo {
  transition: transform var(--transition);

  &:hover {
    transform: scale(1.5);
    cursor: url('./../images/yellow-cursor.png'), auto;
  }
  &:focus {
    outline: none;
  }
}

.navigation-list {
  display: none;
  @include desktop {
    display: flex;
    gap: 28px;
    align-items: baseline;
  }
}

.navigation-link {
  padding-top: 32px;
  padding-bottom: 13px;
  font-family: var(--primaryFontFamily);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;

  display: flex;
  align-items: center;

  color: var(--textColorMainAlt);

  transition: color var(--transition), transform var(--transition);

  &:hover,
  &:focus {
    transform: scale(1.2);
    color: var(--secondaryColor);
    cursor: url('./../images/yellow-cursor.png'), auto;
    outline: none;
  }
}

.menu-button {
  padding: 0;
  border-color: transparent;
  background-color: transparent;

  &:hover,
  &:focus {
    cursor: url('./../images/yellow-cursor.png'), auto;
  }
  @include desktop {
    display: none;
  }
}

.menu-icon {
  fill: var(--iconFill);

  transition: fill var(--transition);

  .menu-button:hover &,
  .menu-button:focus & {
    fill: var(--hoverIconFill);
    cursor: url('./../images/yellow-cursor.png'), auto;
    outline: none;
  }

  @include tablet {
    margin-right: 32px;
  }
  @include desktop {
    display: none;
  }
}
.header-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

//______________________MOBILE-MENU___________________
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;

  background-color: var(--headerHeroBackground);
  transform: translateX(-100%);
  transition: transform var(--transition);
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mob-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mob-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.mob-menu-top {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
}

.mob-navigation-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.mob-nav-link {
  font-family: var(--primaryFontFamily);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.22;
  text-decoration: none;

  display: flex;
  align-items: center;
  text-align: center;

  color: var(--textColorMainAlt);

  transition: color var(--transition), transform var(--transition);

  &:hover,
  &:focus {
    transform: scale(1.2);
    cursor: url('./../images/yellow-cursor.png'), auto;
    color: var(--blackColor);
    outline: none;
  }
}

.menu-buy {
  margin-top: 110px;
  margin-bottom: 64px;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--primaryFontFamily);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 12px 36px;
  background: var(--secondaryColor);
  border-radius: 10px;
  border-color: transparent;

  transition: background var(--transition);

  &:hover {
    cursor: url('./../images/yellow-cursor.png'), auto;
    background: var(--hoverIconFill);
  }

  &:focus {
    background: var(--hoverIconFill);
    color: var(--iconFill);
    outline: none;
  }

  @include tablet {
    margin: 0;
  }
}
.tab-button {
  display: none;
  @include tablet {
    display: flex;
  }
}
.mob-button {
  @include tablet {
    display: none;
  }
}
.button-arrow {
  .menu-buy:focus & {
    fill: var(--iconFill);
  }
}

//____________________HERO________________________
.hero {
  width: 100%;
  height: 502px;
  background-color: var(--headerHeroBackground);
  @include tablet {
    height: 415px;
  }
  @include desktop {
    height: 664px;
  }
}

.hero-title {
  max-width: 320px;
  padding-top: 50px;
  margin-bottom: 32px;
  font-family: var(--secondaryFontFamily);
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.27;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--textColorMainAlt);

  @include desktop {
    max-width: 500px;
    font-size: 38px;
    line-height: 1.26;
  }
}

.bold {
  font-size: 34px;
}

.hero-buttons {
  display: flex;
  gap: 12px;
}

.products-button {
  text-decoration: none;
  padding: 11px 26px;
  font-family: var(--primaryFontFamily);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: transparent;
  border: 2px solid var(--secondaryColor);
  border-radius: 8px;
  color: var(--textColorMain);

  transition: border-color var(--transition), transform var(--transition);

  &:hover {
    transform: scale(1.1);
    cursor: url('./../images/yellow-cursor.png'), auto;
    border-color: var(--hoverIconFill);
  }

  &:focus {
    border-color: var(--hoverIconFill);
    color: var(--iconFill);
    outline: none;
  }

  @include desktop {
    font-size: 14px;
    line-height: 1.29;
  }
}

.made-button {
  text-decoration: none;
  font-family: var(--primaryFontFamily);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration-line: underline;
  background-color: transparent;
  border-color: transparent;
  color: var(--secondaryColor);

  transition: color var(--transition), transform 250ms var(--transition);

  &:hover {
    transform: scale(1.1);
    color: var(--hoverIconFill);
    cursor: url('./../images/yellow-cursor.png'), auto;
  }

  &:focus {
    color: var(--iconFill);
    outline: none;
  }

  @include desktop {
    font-size: 14px;
    line-height: 1.21;
  }
}

.hero-dots {
  position: absolute;
  bottom: 0;
  left: 0;
}

.hero-main-image {
  position: absolute;
  bottom: -5;
  left: 83px;

  @include tablet {
    width: 268px;
    left: 408px;
  }
  @include desktop {
    left: 652px;
    top: 104px;
  }
}

.hero-description {
  display: none;

  @include tablet {
    display: block;
    position: absolute;
    width: 139px;
    height: 85px;
    left: 216px;
    top: 265px;

    font-family: var(--primaryFontFamily);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.42;

    color: var(--textColorMainAlt);

    transition: transform var(--transition);
  }

  &:hover {
    transform: scale(1.2);
  }

  @include desktop {
    left: 257px;
    top: 441px;
    width: 200px;
    height: 80px;
    font-size: 14px;
    line-height: 1.43;
  }
}

.hero-arrow {
  display: none;
  @include tablet {
    display: block;
    position: absolute;
    top: 360px;
    left: 216px;
    fill: var(--textColorMainAlt);
  }
  @include desktop {
    width: 40px;
    height: 16px;
    left: 257px;
    top: 545px;
  }
}

.hero-second-image {
  display: none;
  @include tablet {
    display: block;
    position: absolute;
    z-index: 1;
    margin-left: 32px;
    margin-top: 12px;
    transition: transform 1500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  @include desktop {
    top: 355px;
    left: -20px;
  }

  &:hover {
    transform: rotate(360deg) scale(1.5);
  }
}

.business {
  display: none;
  @include tablet {
    display: flex;
    gap: 20px;
    flex-direction: column;
    text-align: right;
    position: absolute;
    left: 704px;
    top: 50px;
  }
  @include desktop {
    left: 1100px;
    top: 50px;
  }

  .amount {
    font-family: var(--primaryFontFamily);
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--textColorMain);
    transition: transform var(--transition), color var(--transition);

    &:hover {
      transform: scale(1.5);
      color: var(--secondaryColor);
    }

    @include desktop {
      font-size: 46px;
      line-height: 1.22;
    }
  }

  .items {
    font-family: var(--primaryFontFamily);
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;

    color: var(--textColorMainAlt);
    @include desktop {
      font-size: 14px;
      line-height: 1.21;
    }
  }
}
