button {
    background-color: transparent;
    border: none;
    padding: 0;
}

textarea {
    resize: none;
    font-size: 12px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms linear, visibility 250ms linear;
}

.franchise-modal {
    width: calc(100% - 15px);
    padding: 28px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    background-color: rgba(252, 252, 252, 1);
    border: 2px solid #F8D24E;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms linear;
    .is-hidden & {
            transform: translate(-50%, -50%) scale(0.2);
        }
}

@media screen and (min-width: 320px) {
    .franchise-modal {
        width: 280px;
    }
}

@media screen and (min-width: 768px) {
    .franchise-modal {
        width: 568px;
        padding: 30px 60px;
    }
}

.franchise-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .franchise-form {
        width: calc(100% - 80px);
    }
}

.franchise-inputs {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
    .franchise-inputs {
        gap: 16px;
        margin-bottom: 32px;
    }
}

.franchise__title {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 20px;

}

@media screen and (min-width: 768px) {
    .franchise__title {
        margin-left: 63px;
        margin-right: 63px;
        font-size: 20px;
        line-height: 1.4;
        margin-bottom: 24px;
    }
}

.franchise__input {
    cursor: url('./../images/yellow-cursor.png'), auto;
    width: 100%;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84A178;
    border-radius: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4;
    padding: 8px 12px;
    outline: none;
    transition: border 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s
}

@media screen and (min-width: 768px) {
    .franchise__input {
        font-size: 14px;
    }
}

.franchise__input:hover,
.franchise__input:focus-visible,
.franchise__input:focus {
    border: 1px solid #F8D24E;

}


.franchise__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
    margin-bottom: 24px;

}

@media screen and (min-width: 768px) {
    .franchise__text {
        font-size: 16px;
        line-height: 1.4;
        margin-bottom: 32px;
    }
}


::placeholder {
    color: rgba(19, 19, 19, 1);
    opacity: 1;
}

.close-button {
    color: inherit;
    display: block;
    position: absolute;
    top: 12px;
    right: 12px;
    margin-left: auto;
    cursor: url('./../images/yellow-cursor.png'), auto;;
    transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s, transform 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.close-button:hover,
.close-button:focus {
    fill: rgba(10, 136, 23, 1);
    outline: none;
    transform: scale(1.1);
}

.send-button {
    display: inline-block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    background-color: #F8D24E;
    border-color: transparent;
    border-radius: 10px;
    padding: 12px 34px;
    width: 114px;
    margin-left: auto;
    margin-right: auto;
    cursor: url('./../images/yellow-cursor.png'), auto;
    transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s, background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s, transform 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

@media screen and (min-width: 768px) {
    .send-button {
        font-size: 14px;
        line-height: 1.21;
        padding: 14px 32px;
        width: 121px;
    }
}

.send-button:hover {
    background-color: rgba(10, 136, 23, 1);
    transform: scale(1.1);
}

.send-button:focus {
    background-color: rgba(10, 136, 23, 1);
    color: rgba(255, 255, 255, 1);
    transform: scale(1.1);
    outline: none;
}

.send-button:disabled,
.send-button[disabled] {
    background-color: rgba(171, 171, 171, 1);
    color: rgba(0, 0, 0, 1);
}

.error-message {
    display: none;
}

.franchise__input:not(:focus):not(:placeholder-shown):invalid {
    border-color: red;
}

.franchise__input:not(:focus):not(:placeholder-shown):invalid ~ .error-message {
    display: block;
}

.franchise__input:not(:focus):not(:placeholder-shown):valid {
    border-color: green;
}

.franchise__input  +span {
    position: relative;
}

.franchise__input+span::before {
    position: absolute;
    right: -20px;
    top: 5px;
}

.franchise__input:not(:focus):not(:placeholder-shown):valid + span::before {
    content: "✓";
    color: green;
}

.franchise__input:not(:focus):not(:placeholder-shown):invalid + span::before {
    content: "X";
    color: red;
}

.error-message {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    margin-top: 5px;
}