.products-moadal {
  position: absolute;
  background: var(--textColorMainAlt);
  border: 2px solid var(--secondaryColor);
  border-radius: 10px;
  width: 280px;
  padding: 28px 20px;
  margin-right: auto;
  margin-left: auto;
  left: 50%;
  top: 50%;
  height: calc(100% - 80px);
  overflow: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition);

  @include tablet {
    padding: 32px 40px;
    width: 568px;
  }
}

.products-moadal__backdrop.is-hidden .products-moadal {
  transform: translate(-50%, -50%) scale(0.2);
}

.products-moadal__backdrop.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.products-moadal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  overflow: auto;
  width: 100%;
  height: 100%;

  background-color: rgba(73, 73, 69, 0.5);
  padding: 60px 0;
  visibility: visible;
  transition: opacity var(--transition), visibility var(--transition);
  opacity: 1;
}

.products-moadal__backdrop.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transform: translateY(-20%);
}

.products-moadal__close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 0;

  border: none;
  background: transparent;

  &:hover,
  &:focus {
    cursor: url('./../images/yellow-cursor.png'), auto;
  }
}

.products-moadal__title {
  font-family: var(--secondaryFontFamily);
  font-style: normal;
  font-size: 20px;
  line-height: 1.4;
  margin-left: auto;
  margin-right: auto;
  color: var(--textColorMain);
  text-align: center;
  width: 142px;

  margin-bottom: 0;

  @include tablet {
    width: 100%;
  }
}

.products-moadal__title-ice-coffe {
  font-family: var(--secondaryFontFamily);
  font-style: normal;
  font-size: 20px;
  line-height: 1.4;
  margin-left: auto;
  margin-right: auto;
  color: var(--textColorMain);
  text-align: center;
  width: 100%;
}

.products-moadal__title-milkshakes {
  font-family: var(--secondaryFontFamily);
  font-style: normal;
  font-size: 20px;
  line-height: 1.4;

  color: var(--textColorMain);
  text-align: center;
  width: 100%;
}

.products-moadal__image-wrap {
  position: relative;
  display: flex;
  justify-content: center;
}

.products-moadal-image {
  width: 132px;
  height: 132px;
  background: var(--productsGradientCream);
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
  border-radius: 50%;

  margin: 24px auto 0;

  &::before {
    position: absolute;
    content: ' ';
    transform: translateY(-7px);

    width: 132px;
    height: 132px;
    z-index: 1;

    border-radius: 50%;

    background-image: url(./../images/products-modal-icecream-x1.jpg);
    background-repeat: no-repeat;
    background-size: contain;

    @include retina {
      background-image: url(./../images/products-modal-icecream-x2.jpg);
    }
  }
}

.products-moadal-image-ice-coffe {
  width: 132px;
  height: 132px;
  background: var(--productsGradientCoffee);
  box-shadow: 0 5.40397px 20.2649px #99721740;
  border-radius: 50%;
  margin: 24px auto 0;

  &::before {
    position: absolute;
    content: ' ';
    transform: translateY(-7px);

    border-radius: 50%;
    width: 132px;
    height: 132px;
    z-index: 1;

    background-image: url(./../images/products-ice-coffee-mobile-x1.jpg);
    background-repeat: no-repeat;
    background-size: contain;

    @include retina {
      background-image: url(./../images/products-ice-coffee-mobile-x2.jpg);
    }
  }
}

.products-moadal-image-milkshakes {
  width: 132px;
  height: 132px;
  background: var(--productsGradientShake);
  box-shadow: 0 5.41333px 20.3px #00000040;
  border-radius: 50%;
  margin: 24px auto 0;

  &::before {
    position: absolute;
    content: ' ';
    transform: translateY(-7px);

    width: 132px;
    height: 132px;
    z-index: 1;

    border-radius: 50%;

    background-image: url(./../images/products-milkshakes-mobile-x1.jpg);
    background-repeat: no-repeat;
    background-size: contain;

    @include retina {
      background-image: url(./../images/products-milkshakes-mobile-x2.jpg);
    }
  }
}

.products-moadal__info-wrap {
  display: flex;
  justify-content: center;
  gap: 9px;
  padding-top: 24px;

  @include tablet {
    gap: 20px;
  }
}

.products-moadal__info {
  display: flex;
  justify-content: center;
  width: 53px;
  height: 72px;
  left: 20px;
  top: 265px;

  border: 2px solid var(--products-modal-border-green);
  border-radius: 40px;
  transition-property: transform var(--transition);

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

.products-moadal__info-ice-coffe {
  display: flex;
  justify-content: center;
  width: 53px;
  height: 72px;
  left: 20px;
  top: 265px;

  border: 2px solid var(--products-modal-ice-coffe-bg);
  border-radius: 40px;

  transition-property: transform var(--transition);

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

.products-moadal__info-milkshekes {
  display: flex;
  justify-content: center;
  width: 53px;
  height: 72px;
  left: 20px;
  top: 265px;

  border: 2px solid var(--textColorSecondary);
  border-radius: 40px;
  transition-property: transform var(--transition);
  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

.products-moadal__info-circle {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 43px;
  height: 43px;
  border-radius: 50%;
  background: var(--products-modal-border-green);
  border: 2px solid var(--products-modal-border-green);
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
}

.products-moadal__yelow-circle {
  background: var(--products-modal-ice-coffe-bg);
  border: 2px solid var(--products-modal-ice-coffe-bg);
  box-shadow: 0 5.40397px 20.2649px #99721740;
}

.products-moadal__brown-circle {
  background: var(--textColorSecondary);

  border: 2px solid var(--textColorSecondary);
  box-shadow: 0 5.41333px 20.3px #00000040;
}

.products-moadal__info-composition {
  position: absolute;
  font-weight: 500;
  font-size: 10px;
  line-height: 2.8;
  color: var(--textColorMain);
}

.products-moadal__info-name {
  position: absolute;

  top: 50px;
  font-size: 10px;
  line-height: 12px;
  color: var(--textColorMain);
}

.products-moadal__ingredients {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;

  padding-top: 40px;

  color: var(--textColorMain);

  @include tablet {
    padding-top: 48px;
  }
}

.products-moadal__list-item {
  display: flex;
  justify-content: space-between;
}

.products-moadal__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.76;

  letter-spacing: 0.04em;
}

.products-moadal__list-item:not(:last-child) {
  margin-bottom: 11;
}

.product-list {
  margin-bottom: 40px;
}
