.franchise-modal {
    max-height: 100%;
    overflow: auto;
    padding: 28px;
    position: relative;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    background-color: var(--iconFill);
    border: 2px solid var(--secondaryColor);
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms linear;
    .is-hidden & {
            transform: translate(-50%, -50%) scale(0.2);
        }
}

@media screen and (min-width: 320px) {
    .franchise-modal {
        width: 280px;
    }
}

@media screen and (min-width: 768px) {
    .franchise-modal {
        width: 568px;
        padding: 30px 60px;
    }
}

.franchise__title {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 20px;

}

@media screen and (min-width: 768px) {
    .franchise__title {
        margin-left: 63px;
        margin-right: 63px;
        font-size: 20px;
        line-height: 1.4;
        margin-bottom: 24px;
    }
}


.franchise__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
    margin-bottom: 24px;

}

@media screen and (min-width: 768px) {
    .franchise__text {
        font-size: 16px;
        line-height: 1.4;
        margin-bottom: 32px;
    }
}


::placeholder {
    color: var(--textColorMain);
    opacity: 1;
}
