.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;

  width: 100%;
  height: 100%;

  background-color: rgba(73, 73, 69, 0.5);

  opacity: 1;
  visibility: visible;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: calc(100% - 30px);
  height: auto;

  padding: 28px;

  background-color: #fcfcfc;
  border-radius: 10px;
  outline: 2px solid #f8d24e;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms linear;

  .is-hidden & {
    transform: translate(-50%, -50%) scale(0.2);
  }

  @include mobile {
    width: 280px;
  }

  @include tablet {
    width: 568px;

    padding: 32px 60px;
  }
}

.modal__close {
  position: absolute;
  top: 12px;
  right: 12px;

  color: var(--textColorMain);

  border: none;
  background: transparent;
  cursor: pointer;

  transition: color 250ms linear;

  &:hover,
  &:focus {
    color: #0a8817;
  }
}

.modal__close-icon {
  fill: currentColor;
}

.modal__title {
  margin-bottom: 20px;

  font-family: 'Seymour One';
  font-size: 16px;
  line-height: 1.5;
  color: var(--textColorMain);

  @include tablet {
    margin-bottom: 32px;

    font-size: 20px;
    line-height: 1.25;
  }
}

.iframe-container {
  margin-bottom: 24px;
  width: 224px;
  height: 199px;

  border-radius: 10px;
  overflow: hidden;

  @include tablet {
    margin-bottom: 32px;
    width: 448px;
    height: 260px;
  }
}

.iframe {
  border: 0;

  width: 100%;
  height: 100%;
}

.modal__button {
  padding: 12px 34px;

  font-family: 'Montserrat';
  font-style: normal;
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  color: var(--textColorMain);

  border-radius: 10px;
  background-color: #f8d24e;

  &:hover {
    background-color: #0a8817;
  }

  &:focus {
    background-color: #0a8817;
    color: #ffffff;
  }
}

.modal-text {
  font-size: 16px;
  line-height: 140%;
  color: var(--textColorMain);
}
