button {
  background-color: transparent;
  border: none;
  padding: 0;
}

textarea {
  resize: none;
  font-size: 12px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--transition), visibility var(--transition);
}

.franchise-modal {
  width: calc(100% - 15px);
  max-height: 100%;
  overflow: auto;
  padding: 28px;
  position: relative;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  background-color: var(--iconFill);
  border: 2px solid var(--secondaryColor);
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition);
  .is-hidden & {
    transform: translate(-50%, -50%) scale(0.2);
  }

}

@media screen and (min-width: 320px) {
  .franchise-modal {
    width: 280px;
  }
}

@include tablet {
  .franchise-modal {
    width: 568px;
    padding: 30px 60px;
  }
}

.franchise__title {
  font-family: var(--secondaryFontFamily);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 20px;
}

@include tablet {
  .franchise__title {
    margin-left: 63px;
    margin-right: 63px;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 24px;
  }
}

.franchise__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  margin-bottom: 24px;
}

@include tablet {
  .franchise__text {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 32px;
  }
}

::placeholder {
  color: var(--textColorMain);
  opacity: 1;
}