.products {
  background-image: url(./../images/backgroud-mobile.jpg);

  @include tablet {
    background-image: url(./../images/background-tablet.jpg);
  }
  @include desktop {
    background-image: url(./../images/backgroud-desktop.jpg);
  }
}

.products__list {
  display: flex;
  flex-direction: column;
  gap: 168px;

  @include tablet {
    flex-direction: row;
    gap: 16px;
  }

  @include desktop {
    gap: 29px;
  }
}

.products__title {
  margin-bottom: 148px;

  color: var(--textColorMain);

  @include tablet {
    margin-bottom: 200px;
  }

  @include desktop {
    margin-bottom: 303px;
  }
}

.products__up-title {
  display: block;
  margin-bottom: 12px;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.222;
  text-align: center;
  text-transform: uppercase;

  color: var(--textColorMain);

  @include tablet {
    font-size: 22px;
    line-height: 1.2272;
  }

  @include desktop {
    font-size: 30px;
    line-height: 1.2333;
  }
}

.products__item {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 123px 40px 16px;
  width: 280px;
  height: 420px;
  margin:0 auto;
  border-radius: 24px;

  @include tablet {
    width: calc((100% - 32px) / 3);

    padding-right: 26px;
    padding-left: 26px;
    height: 428px;
  }

  @include desktop {
    width: calc((100% - 58px) / 3);

    padding-top: 168px;
    padding-right: 64px;
    padding-left: 64px;
    height: 536px;
  }
}

.products__ice-cream-item {
  background: var(--backcgoundSection);

}

.products__ice-coffee-item {
  background: var(--products-modal-ice-coffe-bg);
  border-radius: 24px;
}

.products__milkshakes-item {
  background: var(--textColorSecondary);
  border-radius: 24px;
}

.products__ice-cream-item::before {
  position: absolute;
  top: 0;

  transform: translateY(calc(-50% - 12px));
  z-index: 1;

  width: 200px;
  height: 200px;

  border-radius: 50%;

  content: ' ';
  background-image: url(./../images/products-ice-cream-mobile-x1.jpg);
  background-repeat: no-repeat;
  background-size: contain;

  @include retina {
    background-image: url(./../images/products-ice-cream-mobile-x2.jpg);
  }

  @include desktop {
    width: 302px;
    height: 302px;
    background-image: url(./../images/products-ice-cream-desktop-x1.jpg);

    @include retina {
      background-image: url(./../images/products-ice-cream-desktop-x2.jpg);
    }
  }
}

.products__ice-coffee-item::before {
  position: absolute;
  top: 0;
  transform: translateY(calc(-50% - 12px));
  z-index: 1;

  width: 200px;
  height: 200px;

  border-radius: 50%;

  content: ' ';
  background-image: url(./../images/products-ice-coffee-mobile-x1.jpg);
  background-repeat: no-repeat;
  background-size: contain;

  @include retina {
    background-image: url(./../images/products-ice-coffee-mobile-x2.jpg);
  }

  @include desktop {
    background-image: url(./../images/products-ice-coffee-desktop-x1.jpg);
    width: 302px;
    height: 302px;

    @include retina {
      background-image: url(./../images/products-ice-coffee-desktop-x2.jpg);
    }
  }
}

.products__milkshakes-item::before {
  position: absolute;
  top: 0;
  transform: translateY(calc(-50% - 12px));
  z-index: 1;

  width: 200px;
  height: 200px;

  border-radius: 50%;

  content: ' ';
  background-image: url(./../images/products-milkshakes-mobile-x1.jpg);
  background-repeat: no-repeat;
  background-size: contain;

  @include retina {
    background-image: url(./../images/products-milkshakes-mobile-x2.jpg);
  }

  @include desktop {
    background-image: url(./../images/products-milkshakes-desktop-x1.jpg);
    width: 302px;
    height: 302px;
  }
  @include retina{
    background-image: url(./../images/products-milkshakes-desktop-x2.jpg);
  }
}

.products__circle {
  position: absolute;
  top: 0;

  border-radius: 50%;

  transform: translateY(-50%);

  width: 200px;
  height: 200px;

  @include desktop {
    width: 302px;
    height: 302px;
  }
}

.circle__ice-cream {
  background: var(--productsGradientCream);
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
}

.circle__ice-coffee {
  background: var(--productsGradientCoffee);
  box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
}

.circle__milkshakes {
  background: var(--productsGradientShake);
  box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
}

.products__card-title {
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin: 0;

  color: var(--textColorMain);
}

.products__text {
  padding-top: 40px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.76;

  text-align: center;
  letter-spacing: 0.04em;

  color: var(--textColorMain);

  @include desktop {
    font-size: 16px;

    padding-top: 66px;
  }
}

.products__button {
  position: absolute;
  bottom: 16;

  background: transparent;
  border: none;

  cursor: url('./../images/yellow-cursor.png'), auto;

  transition: fill var(--transition);

  @include tablet {
    bottom: 12;
  }

  @include desktop {
    bottom: 60;
  }
}

.products__button:hover,
.products__button:focus {
  fill: var(--textColorMainAlt);
}
