h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin-top: 0;
    padding: 0;
}

p, 
ul{
    margin-bottom: 0;
}

body{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    cursor: url('./../images/cursor.png'), auto;
}

body.modal-open{
    overflow: hidden;
} 

body.no-scroll,
body.mobile-open{
    overflow: hidden;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
            
    @media screen and (min-width: 320px) {
        width: 320px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}