:root {
    --backcgoundSection: #AEC6A5; //Колір фону секцій
    --secondaryColor: #F8D24E; //Колір кнопок
    --textColorMain: #131313; //Основний колір тексту
    --textColorMainAlt: #FCFCFC; //Білий відтінок тексту
    --textColorSecondary: #D6936D; //Колір тексту адреси
    --textColorThird: #ABABAB; //Колір тексту часу
    --textColorFooter: #7A7A7A; //Колір тексту футера
    --backgroundColorAbout: #84A178; // Колір секції About
    --headerHeroBackground: #84A278;
    --iconFill: #ffffff;
    --hoverIconFill: #0A8817;
    --blackColor: #000000;
    --borderColor: #E1E1E1; // Колір двох ліній у Contacts
    --products-modal-ice-coffe-bg: #EFD478;
    --products-modal-border-green: #9CBE8F;
		--coloruButtonPagination: #D9D9D9; 
}   