<!-- 
Олександр Рибалка.
Контакти.
Бажаю успіху!
 -->
 <!--------------- Contacts ------------------>
 <section class="contacts__container">
    <h2 class="visually-hidden">Contacts</h2>

    
    <ul class="contacts__list">
        <li class="contacts__item">
            <div class="contacts__page">
                <p class="contacts__page-title">CAFE</p>
            </div>
            <div class="contacts__addr">
                <p class="contacts__addr-text">Chicago</p>
                <a href="#" class="contacts__addr-link">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
            </div>
            <div class="contacts__work">
                <div class="contacts__worktime">
                    <p class="contacts__work-text">Monday - Friday</p>
                    <p class="contacts__work-time">06:00 AM - 10:00 PM</p>
                </div>
                <div>
                    <p class="contacts__work-text">Saturday - Sunday</p>
                    <p class="contacts__work-time">08:00 AM - 16:00 PM</p>
                </div>
            </div>
            <div class="contacts__com">
                <a href="tel:+61(0)383766284" class="contacts__com-link">+61(0) 383 766 284</a>
                <a href="mailto:noreply@envato.com" class="contacts__com-link">noreply@envato.com</a>
            </div>
        </li>



        <li class="contacts__item">
            <div class="contacts__page">
                <p class="contacts__page-title">FOOD TRUCK</p>
            </div>
            <div class="contacts__addr">
                <p class="contacts__addr-text">Los Angeles</p>
                <a href="#" class="contacts__addr-link">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a>
            </div>
            <div class="contacts__work">
                <div class="contacts__worktime">
                    <p class="contacts__work-text">Monday - Friday</p>
                    <p class="contacts__work-time">06:00 AM - 10:00 PM</p>
                </div>
                <div>
                    <p class="contacts__work-text">Saturday - Sunday</p>
                    <p class="contacts__work-time">08:00 AM - 16:00 PM</p>
                </div>
            </div>
            <div class="contacts__com">
                <a href="tel:+61(0)383766284" class="contacts__com-link">+61(0) 383 766 284</a>
                <a href="mailto:noreply@envato.com" class="contacts__com-link">noreply@envato.com</a>
            </div>
        </li>



        <li class="contacts__item">
            <div class="contacts__page">
                <p class="contacts__page-title">CAFE</p>
            </div>
            <div class="contacts__addr">
                <p class="contacts__addr-text">New York</p>
                <a href="#" class="contacts__addr-link">726 Sterling Pl, Brooklyn, NY 11222, USA</a>
            </div>
            <div class="contacts__work">
                <div class="contacts__worktime">
                    <p class="contacts__work-text">Monday - Friday</p>
                    <p class="contacts__work-time">06:00 AM - 10:00 PM</p>
                </div>
                <div>
                    <p class="contacts__work-text">Saturday - Sunday</p>
                    <p class="contacts__work-time">08:00 AM - 16:00 PM</p>
                </div>
            </div>
            <div class="contacts__com">
                <a href="tel:+61(0)383766284" class="contacts__com-link">+61(0) 383 766 284</a>
                <a href="mailto:noreply@envato.com" class="contacts__com-link">noreply@envato.com</a>
            </div>
        </li>
    </ul>
    <!------------ Opening Modal windows ---------------->
    <div class="contacts__btn">
        <button class="contacts__btn-map" type="button">
            Our Locations
            <svg class="contacts__btn-icon" width="12" height="12">
                <use href="#"></use>
            </svg>
        </button>
        <button class="contacts__btn-form" type="submit">
            Franchise
            <svg class="contacts__btn-icon" width="12" height="12">
                <use href="#"></use>
            </svg>
        </button>
    </div>
        
    

 </section>