<!-- 
Олександр Рибалка.
Контакти.
Бажаю успіху!
 -->
 <section class="contacts__container">
    <ul class="contacts__list">
        <li class="contacts__item">
            <div>
                <p class="contacts__title">CAFE</p>
            </div>
            <div>
                <p class="contacts__text">Chicago</p>
                <a href="#" class="contacts__addr">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
            </div>
            <div>
                <p class="contacts__text">Monday - Friday</p>
                <p class="contacts__text-time">06:00 AM - 10:00 PM</p>
                <p class="contacts__text">Saturday - Sunday</p>
                <p class="contacts__text-time">08:00 AM - 16:00 PM</p>
            </div>
            <div>
                <a href="tel:+61(0)383766284" class="contacts__link">+61(0) 383 766 284</a>
                <a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a>
            </div>
        </li>

        <li class="contacts__item">
            <div>
                <p class="contacts__title">FOODTRUCK</p>
            </div>
            <div>
                <p class="contacts__text">Los Angeles</p>
                <a href="#" class="contacts__addr">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a>
            </div>
            <div>
                <p class="contacts__text">Monday - Friday</p>
                <p class="contacts__text-time">06:00 AM - 10:00 PM</p>
                <p class="contacts__text">Saturday - Sunday</p>
                <p class="contacts__text-time">08:00 AM - 16:00 PM</p>
            </div>
            <div>
                <a href="tel:+61(0)383766284" class="contacts__link">+61(0) 383 766 284</a>
                <a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a>
            </div>
        </li>
        <li class="contacts__item">
            <div>
                <p class="contacts__title">CAFE</p>
            </div>
            <div>
                <p class="contacts__text">New York</p>
                <a href="#" class="contacts__addr">726 Sterling Pl, Brooklyn, NY 11222, USA</a>
            </div>
            <div>
                <p class="contacts__text">Monday - Friday</p>
                <p class="contacts__text-time">06:00 AM - 10:00 PM</p>
                <p class="contacts__text">Saturday - Sunday</p>
                <p class="contacts__text-time">08:00 AM - 16:00 PM</p>
            </div>
            <div>
                <a href="tel:+61(0)383766284" class="contacts__link">+61(0) 383 766 284</a>
                <a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a>
            </div>
        </li>
    </ul>

 </section>