<div class="rev_slider container">
	<div class="slide_item">
		<img class="photo"
			srcset="./images/customer-reviews/pexels-elias.jpg 1x, ./images/customer-reviews/pexels-elias@2x.jpg 2x"
			src="./images/customer-reviews/pexels-edu.jpg" alt="Photo clients" width="85" height="85" />
		<div class="wrapper">
			<p class="text">I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In addition,
				you have beautiful serving, cozy atmosphere and polite staff.
			</p>
		</div>
		<p class="name">Emily, Los Angeles</p>
	</div>
	<div class="slide_item">
		<img class="photo"
			srcset="./images/customer-reviews/pexels-nappy.jpg 1x, ./images/customer-reviews/pexels-nappy@2x.jpg 2x"
			src="./images/customer-reviews/pexels-edu.jpg" alt="Photo clients" width="85" height="85" />
		<div class="wrapper">
			<p class="text">Every day we come to you with friends after classes in college. We love your ice cream and casual
				atmosphere!
			</p>
		</div>
		<p class="name">Bryan, New-York</p>
	</div>
	<div class="slide_item">
		<img class="photo"
			srcset="./images/customer-reviews/pexels-edu.jpg 1x, ./images/customer-reviews/pexels-edu@2x.jpg 2x"
			src="./images/customer-reviews/pexels-edu.jpg" alt="Photo clients" width="85" height="85" />
		<div class="wrapper">
			<p class="text">Ice cream is my passion! I love your chocolate hazelnut ice cream!
				And I really like the excellent service - always served politely and quickly!
			</p>
		</div>
		<p class="name">Diana, Chicago</p>
	</div>
</div>