<!-- 
Вакансія.
Футер.
Бажаю успіху!
 -->
 <footer class="footer-section container">
   <div class="footer-wrap">
      <div class="title-wrap">
         <p class="footer-title">
            HOMEMADE ICE CREAM MADE
         </p>
         <span class="footer-accent footer-title">
            WITH PASSION
            </span>
         </span>
      </div>   
      <div class="contact-wrap">
         <ul class="networks-list">
            <li class="networks-item">
               <a class="networks-link" href="https://github.com/" 
               target="_blank"
               rel="noreferrer noopener">
               <svg class="networks-icon" width="20" height="20">
                  <use href="./images/sprite.svg#icon-github">
                  </use>
               </svg>
            </a>              
            </li>
            <li class="networks-item">
               <a class="networks-link" href="https://telegram.org/"
               target="_blank"
               rel="noreferrer noopener">
               <svg class="networks-icon" width="20" height="20">
                  <use href="./images/sprite.svg#icon-telegram">
                 </use>
               </svg>
            </a>              
            </li>
            <li class="networks-item">
               <a class="networks-link" href="https://uk-ua.facebook.com/"
               target="_blank"
               rel="noreferrer noopener">
               <svg class="networks-icon" width="20" height="20">
                  <use href="./images/sprite.svg#icon-facebook">
                  </use>
               </svg>
            </a>              
            </li>
         </ul>
         <p class="footer-contact" >
            Feel free to contact 
            <a class="footer-tel" href="tel:+61(0)383766284">+61 (0) 383 766 284</a>
         </p>
      </div>
      </div>     
      <div class="footer-border">
         <p class="rights">
            © 2022 - IceCream. 
         </p>
         <p class="rights">
            All Rights Reserved.
         </p>
      </div>
 </footer>
 