<div class="big-gallery">
<div class="container gallery">
    <div class="gallery_container">
        <div class="gallery__item">
            <picture>
                <source
                srcset="./images/ice-cream-gallery1-decktop.jpg 1x, ./images/ice-cream-gallery1-desktop-2x.jpg 2x"
                media="(min-width: 1200px)" class="gallery__img"
                >
                <source
                srcset="./images/ice-cream-gallery1-tab.jpg 1x, ./images/ice-cream-gallery1-tab-2x.jpg 2x"
                media="(min-width: 768px)" class="gallery__img"
                >
                <source
                srcset="./images/ice-cream-gallery1-mob.jpg 1x, ./images/ice-cream-gallery1-mob-2x.jpg 2x"
                media="(max-width: 767px)" class="gallery__img"
                >
                <img src="./images/ice-cream-gallery1-mob.jpg" class="gallery__img" alt="" width="1013"/>
            </picture>
        </div>
        <div class="slperekhodnik star">
            <aside class="gablok_sedakoda star">
            <div class="slayder_karusel star">
            <figure><img src="./images/ice-cream-gallery1-decktop.jpg" alt="" class="star gallery__img" ><figcaption></figcaption></figure>
            <figure><img src="./images/ice-cream-gallery2-decktop.jpg" alt="" class="star gallery__img" ><figcaption></figcaption></figure>
            <figure><img src="./images/ice-cream-gallery3-decktop.jpg" alt="" class="star gallery__img" ><figcaption></figcaption></figure>
            <figure><img src="./images/ice-cream-gallery2-decktop.jpg" alt="" class="star gallery__img" ><figcaption></figcaption></figure>
            <figure><img src="./images/ice-cream-gallery1-decktop.jpg" alt="" class="star gallery__img" ><figcaption></figcaption></figure>
            </div>
            </aside>
        </div>
    </div>
</div>

<section class="slider">
    <div class="rev_slider container">
        <div class="slide_item">
            <img class="photo"
                srcset="./images/customer-reviews/pexels-elias.jpg 1x, ./images/customer-reviews/pexels-elias@2x.jpg 2x"
                src="./images/customer-reviews/pexels-edu.jpg" alt="Photo clients" width="85" height="85" />
            <div class="wrapper">
                <p class="text">I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In
                    addition,
                    you have beautiful serving, cozy atmosphere and polite staff.
                </p>
            </div>
            <p class="name">Emily, Los Angeles</p>
        </div>
        <div class="slide_item">
            <img class="photo"
                srcset="./images/customer-reviews/pexels-nappy.jpg 1x, ./images/customer-reviews/pexels-nappy@2x.jpg 2x"
                src="./images/customer-reviews/pexels-edu.jpg" alt="Photo clients" width="85" height="85" />
            <div class="wrapper">
                <p class="text">Every day we come to you with friends after classes in college. We love your ice cream
                    and casual
                    atmosphere!
                </p>
            </div>
            <p class="name">Bryan, New-York</p>
        </div>
        <div class="slide_item">
            <img class="photo"
                srcset="./images/customer-reviews/pexels-edu.jpg 1x, ./images/customer-reviews/pexels-edu@2x.jpg 2x"
                src="./images/customer-reviews/pexels-edu.jpg" alt="Photo clients" width="85" height="85" />
            <div class="wrapper">
                <p class="text">Ice cream is my passion! I love your chocolate hazelnut ice cream!
                    And I really like the excellent service - always served politely and quickly!
                </p>
            </div>
            <p class="name">Diana, Chicago</p>
        </div>
    </div>
</section>
</div>