<!-- 
Олена Пенькова. Галерея - великий слайдер з морозивом.
Бажаю успіху!
-->
<div class="container gallery">
    <div class="gallery_container">
        <div class="gallery__item">
            <picture>
                <source
                srcset="./images/ice-cream-gallery1-decktop.jpg 1x, ./images/ice-cream-gallery1-desktop-2x.jpg 2x"
                media="(min-width: 1200px)" class="gallery__img"
                >
                <source
                srcset="./images/ice-cream-gallery1-tab.jpg 1x, ./images/ice-cream-gallery1-tab-2x.jpg 2x"
                media="(min-width: 768px)" class="gallery__img"
                >
                <source
                srcset="./images/ice-cream-gallery1-mob.jpg 1x, ./images/ice-cream-gallery1-mob-2x.jpg 2x"
                media="(max-width: 767px)" class="gallery__img"
                >
                <img src="./images/ice-cream-gallery1-mob.jpg" class="gallery__img" alt="" width="1013"/>
            </picture>
        </div>
        <div class="slperekhodnik star">
            <aside class="gablok_sedakoda star">
            <div class="slayder_karusel star">
            <figure><img src="./images/ice-cream-gallery1-decktop.jpg" alt="" class="star gallery__img" ><figcaption></figcaption></figure>
            <figure><img src="./images/ice-cream-gallery2-decktop.jpg" alt="" class="star gallery__img" ><figcaption></figcaption></figure>
            <figure><img src="./images/ice-cream-gallery3-decktop.jpg" alt="" class="star gallery__img" ><figcaption></figcaption></figure>
            <figure><img src="./images/ice-cream-gallery2-decktop.jpg" alt="" class="star gallery__img" ><figcaption></figcaption></figure>
            <figure><img src="./images/ice-cream-gallery1-decktop.jpg" alt="" class="star gallery__img" ><figcaption></figcaption></figure>
            </div>
            </aside>
        </div>
    </div>
</div>