<div class="backdrop is-hidden" data-buy-modal>
  <div class="modal buy-now-modal">
    <button class="modal__close" type="button" data-buy-modal-close>
      <svg class="modal__close-icon" width="24" height="24">
        <use href="./images/sprite.svg#icon-cross"></use>
      </svg>
    </button>
    <p class="modal__title buy-now-title">Buy now</p>

    <form class="form">
      <div class="form__head" role="group">
        <label class="product-label">
          <input
            class="basic-checkbox visually-hidden"
            type="checkbox"
            name="product-label"
          />
          <span class="custom-checkbox custom-checkbox--green">ice cream </span>
        </label>

        <label class="product-label">
          <input
            class="basic-checkbox visually-hidden"
            type="checkbox"
            name="product-label"
            checked
          />
          <span class="custom-checkbox custom-checkbox--yellow">
            ice coffee
          </span>
        </label>

        <label class="product-label">
          <input
            class="basic-checkbox visually-hidden"
            type="checkbox"
            name="product-label"
          />
          <span class="custom-checkbox custom-checkbox--brown">Milkshake</span>
        </label>
      </div>

      <div class="common_modal-inputs">
        <div class="modal-form__item">
          <input type="text" name="user-name" class="common__input buy_input" placeholder="* Name" required />
          <span></span>
          <p class="error-message">Please enter your name</p>
        </div>
      
        <div class="modal-form__item">
          <input type="tel" name="user-tel" class="common__input" placeholder="* Phone" pattern="[0-9]{10}|[\+]\d{12}"
            required />
          <span></span>
          <p class="error-message">Please enter a valid phone number. E.g. 0975555555.</p>
        </div>
      
        <textarea name="comment" class="common__input" id="comment" placeholder="Comment"></textarea>
      </div>
      
      <button class="send-button buy-button" type="submit" id="submit">Submit</button>
    </form>
  </div>
</div>
