<div>
  <button type="button" class="about__button button" data-buy-modal-open>
    Buy now
  </button>
</div>

<div class="backdrop is-hidden" data-buy-modal>
  <div class="modal">
    <button class="modal__close" type="button" data-buy-modal-close>
      <svg class="modal__close-icon" width="24" height="24">
        <use href="./images/sprite.svg#icon-cross"></use>
      </svg>
    </button>
    <p class="modal__title">Buy now</p>

    <form action="">
      <label for=""><input type="checkbox" /></label>
      <label for=""><input type="checkbox" /></label>
      <label for=""><input type="chtckbox" /></label>
      <input type="text">
      <input type="text">
      <textarea name="" id="" cols="30" rows="10"></textarea>
      <button class="modal__button" type="submit">Submit</button>
    </form>
  </div>
</div>
