<section class="products section" id="products">
  <div class="container products__container">
    <span class="products__up-title animate__animated animate__fadeInUp"
      >100% natural</span
    >
    <h2 class="section__title products__title animate__animated animate__fadeInUp">
      products
    </h2>

    <ul class="products__list">
      <li
        class="products__ice-cream-item products__item animate__animated animate__fadeInUp animate__faster"
      >
        <h3 class="products__card-title">ice cream</h3>

        <p class="products__text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <div class="circle__ice-cream products__circle"></div>
        <button type="button" class="products__button" data-products-modal-open>
          <svg width="40" height="16" class="products__button-arrow">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>

      <li
        class="products__ice-coffee-item products__item animate__animated animate__fadeInUp animate__fast"
      >
        <h3 class="products__card-title">ice coffee</h3>
        <p class="products__text">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <div class="circle__ice-coffee products__circle"></div>
        <button
          type="button"
          class="products__button"
          data-icecoffee-modal-open
        >
          <svg width="40" height="16" class="products__button-arrow">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>

      <li
        class="products__milkshakes-item products__item animate__animated animate__fadeInUp"
      >
        <h3 class="products__card-title">milkshakes</h3>
        <p class="products__text">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <div class="circle__milkshakes products__circle"></div>
        <button
          type="button"
          class="products__button"
          data-milkshakes-modal-open
        >
          <svg width="40" height="16" class="products__button-arrow">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
